<li>@Html.ActionLink("Menus", "Menus", "Menu")</li>
<li>@Html.ActionLink("Today's Orders", "Orders", "Operations")</li>
<li>@Html.ActionLink("Create New FoodTruck", "CreateNewFoodTruck", "Operations")</li>

